body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #dbdbdb;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    
    & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3700fe;
    border-radius: 12px;
    width: 100%;
    }

    & ul li {
    float: left;
    }

    & ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    & ul li a:hover {
    background-color: #0091cb;
    }
}

.greetings{
    color:blue;
}